ethiostore-17d9f-firebase-financesdk-5e87k-aca424fa71.json
ethiostore-17d9f-firebase-financesdk-5e87k-aca424fa71.json
ethiostore-17d9f-firebase-financesdk-5e87k-aca424fa71.json
ethiostore-17d9f-firebase-financesdk-5e87k-aca424fa71.json
ethiostore-17d9f-firebase-financesdk-5e87k-8a0ddc11b3.json
ethiostore-17d9f-firebase-financesdk-5e87k-aca424fa71.json
ethiostore-17d9f-firebase-financesdk-5e87k-8a0ddc11b3.json
ethiostore-17d9f-firebase-financesdk-5e87k-8a0ddc11b3.json
ethiostore-17d9f-firebase-financesdk-5e87k-8a0ddc11b3.json
ethiostore-17d9f-firebase-financesdk-5e87k-8a0ddc11b3.json
ethiostore-17d9f-firebase-financesdk-5e87k-8a0ddc11b3.json


node_modules
.node_modules
*/node_modules
*.json
ethiostore-17d9f-firebase-financesdk-*.json

ethiostore-17d9f-firebase-financesdk-5e87k-ff766d2648.json
ethiostore-17d9f-firebase-financesdk-5e87k-ff766d2648.json
ethiostore-17d9f-firebase-financesdk-5e87k-ff766d2648.json

./frontend/school-register/node_modules
./frontend/school-register/node_modules
./frontend/school-register/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
